.detail {
    margin: 0 1rem
}
.detail__container {
    text-align: center;
}

.detail__image {
    width: 100%;
}

.detail__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;   
}
.detail__underline {
    height: 0.20rem;
    width: 4rem;
    background: var(--verde);
    margin-left: auto;
    margin-right: auto;
}

.detail__summary-container {
    margin: 1rem
}
.detail__subtitle {
    font-weight: bold;
    margin: 1rem 0;
    color: var(--verde);
    font-size: 1.2rem;
}
.detail__summary {
    text-align: justify;
}

.detail__summary b {
    font-weight: bold;
}

.detail__summary a {
    text-decoration: none;
    color: var(--verde);
    cursor: pointer;
}

.detail__typesPointsContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem
}

.detail__typesPointsContainer-individual {
    width: 40vw;
    text-align: center;
}
.detail__typesPointsContainer li {
    margin: .5rem 0;
    font-weight: bold;
}

.detail__directions-steps {
    text-align: justify;
    padding: .5rem;
    border: dashed 1px var(--verde);
    margin: .5rem 0
    
}
.detail__p {
    font-weight: bold;
    font-size: 1rem;
}

.hide {
    display: none;
}
.show {
display: block;
}

@media screen and (min-width: 768px){
    .detail__titleImgSummary-container {
        display: flex;
    }
    .detail__image {
        width: 45vw;
        margin: 0 .5rem;
    }

    .detail__container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .detail__underline {
        width: 10rem;
    }

    .detail__extrainfo-container {
        display: flex;
        justify-content: center;
    }

    .detail__typesPointsContainer-individual {
        width: 20vw
    }
}
@media screen and (min-width: 768px){
    .detail {
        margin: 1rem 2rem
    }
}
@media screen and (min-width: 1024px){
    .detail {
        margin: 2rem 5rem
    }
    .detail__image, .detail__summary-container {
        margin: 1.5rem 1rem;
    }
}