.filter {
    margin: .5rem .5rem 1rem .5rem;
}

.filter__order-container {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
}

.filter h4 {
    font-weight: bold;
    margin: .5rem 0;
    cursor: pointer;
}
.filter__underline {
    height: 0.20rem;
    width: 4rem;
    background: var(--verde);
    margin-left: auto;
    margin-right: auto;
}

.filter__order-type {
    width: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: .5rem .5rem 1rem .5rem;
}

.filter__order-btnContainer {
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 5px 10px #E0E0E0;
    display: block;
    margin-top: .3rem;
    position: absolute;
    width: inherit;
    top: 115px;
    z-index: 1
}

.filter__order-btnContainer button:hover{
    border-bottom: 1px solid var(--verde);
}

.filter__btn {
    background-color: transparent;
    color:  var(--verde);
    border: none;
    margin: .5rem 0;
    cursor: pointer;
}

.hide {
    display: none;
}

@media screen and (min-width: 1024px){
    .filter {
        margin: .5rem 5rem 1rem 5rem;
    }
    .filter__order-container {
        justify-content: center;
    }
}