.pagination__container {
    display: flex;
    justify-content: center;
}

.pagination__btn-active {
    background-color: var(--verde);
    border: none;
    color: white;
    margin: .3rem;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    
}

.pagination__btn {
    background-color: transparent;
    border: none;
    color: var(--verde);
    margin: .3rem;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.hide {
    display: none;
}